@{
    ViewBag.Title = "Unser Spiel";
}


<h1>Tolles Spiel: Tiernamen vergeben</h1>



<div class="row">
    <div class="col-md-6">
        <div class="startbuttons"><a class="btn btn-default" href="~/NewGame/Create">Neues Spiel anlegen</a></div>
    </div>
    <div class="col-md-6">
        <div class="startbuttons"><a class="btn btn-default" href="~/NewGame/Join">Spiel beitreten</a></div>
    </div>
</div>

@section Scripts
{
    <link href="~/Content/groupstyles.css" rel="stylesheet" />
}